.trainers,.students{
    padding:1rem;
    border:2px solid black;
    background-color:tomato;
    margin:1rem;

}

.table,.thead,.td{
    border:2px solid black;
    padding:0.25rem;
    border-collapse: collapse;
}